<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="britto.sandro.epiandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity_"
            android:label="EpiAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlanningActivity_"
            android:label="@string/title_activity_planning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModuleActivity_"
            android:label="@string/title_activity_module"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MarkActivity_"
            android:label="@string/title_activity_mark"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
